body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: white;    
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top:30px;
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.title_photo {
    text-align: center;
}
.my_photo {
    background: url(../images/notMe.jpg) no-repeat center center;
    background-size: 100%;
    width: 500px;
    height: 350px;
}
.nav_logo {
    background: url(../images/logo.png) no-repeat center center;
    background-size: 100%;
    width: 100px;
    height: 50px;
}

.button_js {
    text-align: center;
}

#myButton {
    color:white;
    background-color: #08161e;
    border-radius: 20px;
    height: 50px;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}

#auth {
    text-align: center;
}
#auth_head{
    text-align: center;
    font-size: 30px;
}
.form_reg{
    margin-top: 10px;
}
.btn_red{
    margin-top: 10px;
    color:white;
    background-color: #ff5757;
    border-radius: 20px;
    height: 50px;
}
.btn_add{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post{
    text-align: center;
    font-size: 30px;
}